

@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Gugi|Pacifico|Montserrat");

html,
body {
  margin: 0;
  padding: 0;
}

.cta {
  border-radius: 30px;
  color: white;
  font-weight: bold;
  background-color: #4884f3;
  padding: 10px;
  /* font-size: 30px; */
  border: 0px solid #1f5ac1;
  width: 50%;
  /* left: 25%; */
  /* position: relative; */
  text-align: center;
  margin: 0 auto 20px auto;
  cursor: pointer;
  text-decoration: none;
}

.content-size {
  width: 85%;
}

.App {
  display: grid;
  //  height: 100vh;
}